.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    }

.image-item {
    text-align: center;
    flex: 1;
    /* Ensures the images take equal space */
        padding: 10px;
        /* Adds some space around each item */
}

.image-item img {
    max-width: 100%;
    height: auto;
    /* Keeps images responsive */
}