---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header title="Header images by artstation.com/dtmayer" class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Abhilash<br/>Ravindranath</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">

        {{ content }}
        <div style="margin-bottom: 100px;">
          <h1> Greetings Traveller</h1>
          <br />I am Abhi, a game designer and developer. Welcome to my website!
          <br />I love playing video games & board games, and also making them. Apart from games, I love riding my motorcycle,
          working out, and being (trying to be) artistically creative; by cooking, making pixel art & low poly 3D models, and
          playing around with shaders in Unity and Unreal Engine.
          <p>
            <figure class="image-container">
              <div class="image-item"> <img src="/img/Chaos.gif" alt="Procedural Animation">
                <figcaption>Dynamic Destruction</figcaption>
              </div>
            </figure>
          </p>
            <br />I have a bachelors degree in architecture, and a diploma in advanced game development. My education and experience
            in game dev let me truly appreciate good design in games and other media.
            <br />My favorite genre is puzzle games, especially with good level design - such as Portal 1 and 2. A close second
            would be Role Playing Games where your choices matter - such as Skyrim and Life is Strange.
            <p>
            <figure class="image-container">
              <div class="image-item"> <img src="/img/PA.gif" alt="Procedural Animation">
                <figcaption>Procedural Animation</figcaption>
              </div>
            </figure>
            </p>
          <br />I play a wide variety of games ranging in both quality and genre, to expose myself to the ingenuity of my fellow
          game devs.
          <br />My dream job would be working as a game designer contributing in puzzle, narrative and/or level design.
          <br />I also play a ton of competitive games from Counterstrike to Hearthstone. I am extremely passionate about working
          on a competitve multiplayer game, designing systems & features, and balancing the game's mechanics. Everytime I hear
          players complaining about balance in games, I wish I could talk to the designers to tell them how I would buff and nerf
          items/characters to make the game more fun!
          <br />Even singleplayer games can be competitive, especially if you speedrun or nuzlocke them. My favorite game of all
          time, though hard to pick, has to be Sekiro. Possibly the greatest singleplayer experience ever crafted. The AI design
          in Sekiro is *chef's kiss*
          absolute perfection.
          <br />Thank you for checking out my website. I hope you have a great day :)
          <p>
          <figure class="image-container">
            <div class="image-item"> <img src="/img/Games.png" alt="Procedural Animation">
              <figcaption>My top 9</figcaption>
            </div>
          </figure>
          </p>
        </div>

        <!-- Home Post List -->
        {% for post in site.posts limit : 10 %}

          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <div class="post-container">
                <div class="post-img-container" title="Image by {{post.artist}}">
                  <img class="post-img" src={{post.background}}>
                </div>
                <div class="post-text">
                  <div class="post-text-header">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-meta">
                      {{ post.date | date: '%B %d, %Y' }}
                    </p>
                    </div>
                  {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                  {% else %}
                    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 20 }}</h3>
                  {% endif %}
                </div>
              </div>
            </a>
          </article>

          <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
